* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "TTLakes Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/TTLakesCondensed-Regular.woff) format("woff");
}

@font-face {
  font-family: "TTLakes Medium";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/TTLakesCondensed-Medium.woff) format("woff");
}

@font-face {
  font-family: "TTLakes Bold";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/TTLakesCondensed-Bold.woff) format("woff");
}

.header,
.main,
.footer {
  width: 320px;
}

.header {
  margin-top: 20px;
}

.body__shadow-wrapper {
  max-width: fit-content;
  box-shadow: 16px 8px 52px -2px rgba(0, 0, 0, 0.2);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.header__nav-list__wrapper1 {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 18px;
}

.header_btn {
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.header__nav-list-btn_burger {
  background-image: url(../img/icons/burgerX.svg);
}

.header__nav-list-btn_status {
  background-image: url(../img/icons/search.svg);

  margin-right: 25px;
}

.main__nav-list {
  list-style: none;
}

.main__nav-list-item {
  font-family: "TTLakes Medium";
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 24px;
  border: 0px solid;
  padding-left: 20px;
  margin-bottom: 32px;
  min-width: fit-content;
  color: #1b1c21;
  transition: 0.5s;
}

.main__nav-list-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.main__nav-list-item:hover {
  border-left: 3px solid #41f6d7;
  border-radius: 2px;
  color: #7e7e82;
  padding-left: 18px;
  margin-bottom: 0px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
  cursor: pointer;
}

.main__nav-list-item:last-child {
  margin-bottom: 0px;
}

.footer {
  padding-bottom: 15px;
}

.footer__nav {
  list-style: none;
  padding-top: 70px;
  padding-left: 20px;
}
.footer__nav-list,
.footer__nav-list-icons {
  list-style: none;
}

.footer__nav-list-icons > ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.footer__nav-link_style {
  display: block;
  width: 40px;
  height: 40px;
}

.footer__nav-list-call {
  background-image: url(../img/icons/icons__tablet/call.svg);
}

.footer__nav-list-chat {
  background-image: url(../img/icons/icons__tablet/chat.svg);
}

.footer__nav-list-profile {
  background-image: url(../img/icons/icons__tablet/profile.svg);
}

.footer__nav-list-mail {
  margin-top: 15px;
  padding-bottom: 15px;
  transition: 0.6s;
}

.footer__nav-list-mail > a {
  display: block;
  font-family: "TTLakes Medium";
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-decoration: none;
  color: #1b1c21;
}

.footer__nav-list-mail:hover,
.footer__nav-list-number:hover {
  opacity: 0.7;
}

.footer__nav-list-number {
  transition: 0.6s;
}

.footer__nav-list-number > a {
  display: block;
  font-family: "TTLakes Bold";
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.6px;
  line-height: 32px;
  text-decoration: none;
  color: #1b1c21;
}

.footer__nav-list-lang {
  padding-top: 40px;
}

.footer__nav-wrapper {
  list-style: none;
  display: flex;
  gap: 15px;
}

.footer__nav-list-lang_style {
  text-decoration: none;
  color: #1b1c21;
  transition: 0.5s;
}

.footer__nav-list-lang_style:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #7e7e82;
  cursor: pointer;
}
